.offer {
  display: flex;
  justify-content: space-around;
  background-color: #ebedee;
  padding: 80px 150px 120px 150px;
}

.offer > img {
  object-fit: scale-down;
  width: 400px;
}

.infos {
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infos-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.infos-details {
  display: flex;
  width: 300px;
}

.infos-details-titles {
  color: #999999;
  font-size: 14px;
}

.infos-details-col-2 {
  margin-left: 50px;
  font-size: 14px;
}

.infos-product-name {
  font-weight: bold;
  margin-top: 50px;
}

.infos-description {
  color: gray;
  max-width: 300px;
  margin: 20px 0;
}

.infos-user {
  display: flex;
  align-items: center;
}

.infos-user > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.infos-CTA-buy {
  color: white;
  background-color: var(--blue);
  line-height: 44px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 50px;
}
