.item-user {
  display: flex;
  align-items: center;
  margin: 20px 0 10px 0;
}

.item-user > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.item-username {
  color: gray;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
}

.item-picture {
  height: 339px;
  width: 235px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  background-color: #f1f1f3;
}

.item-picture > img {
  object-fit: scale-down;
  width: 235px;
  max-height: 339px;
  cursor: pointer;
}

.item-price {
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.item-size {
  color: gray;
  font-size: 12px;
}

.item-brand {
  color: gray;
  font-size: 12px;
  margin-bottom: 10px;
}
