:root {
  --blue: #0baeb7;
}

.user {
  display: flex;
  align-items: center;
  margin: 20px 0 10px 0;
}

.user > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  color: gray;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
}

.price {
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.picture {
  height: 339px;
  width: 235px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  background-color: #f1f1f3;
}

.picture > img {
  object-fit: scale-down;
  width: 235px;
  max-height: 339px;
  cursor: pointer;
}
