:root {
  --blue: #0baeb7;
}

.title {
  font-size: 28px;
  padding: 50px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.form > input {
  margin-bottom: 30px;
  line-height: 40px;
  font-size: 16px;
  border: none;
}

.form > input {
  border-bottom: pink solid 1px;
}

.errorMessage {
  color: red;
  font-size: 12px;
}

.form > button {
  width: 100%;
  color: white;
  background-color: var(--blue);
  line-height: 44px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
}

.link-subscribe {
  font-size: 14px;
  display: block;
  color: var(--blue);
  text-align: center;
  text-decoration: none;
  margin: 40px auto;
}
