.page-num {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  align-items: center;
}

.page-num-arrow {
  margin: 0 10px;
  border-radius: 50%;
  background-color: white;
  line-height: 26px;
  width: 28px;
  border: none;
  font-size: 18px;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.page-num-arrow:hover {
  cursor: pointer;
  background-color: var(--blue);
  color: white;
}
