:root {
  --blue: #0baeb7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0 0 25px 0;
  font-size: 34px;
  font-weight: 400;
}

.header {
  height: 50px;
  border-bottom: lightgray solid 1px;
  padding: 0 100px;
  display: flex;
}

.logo {
  height: 30px;
  margin: auto 0;
}

.images {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  height: 500px;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  position: relative;
}

.image2 {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.CTA {
  position: absolute;
  top: 136px;
  left: 100px;
  width: 400px;
  height: 258px;
  background-color: white;
  border-radius: 5px;
  padding: 32px;
  box-sizing: border-box;
  border: lightgray solid 1px;
}

.CTA-blue {
  color: white;
  background-color: var(--blue);
  line-height: 44px;
  text-align: center;
  width: 164px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  margin: auto 0;
  cursor: pointer;
}

.CTA > a {
  color: var(--blue);
  font-size: 14px;
  text-decoration: none;
}

.CTA-white {
  font-size: 12px;
  line-height: 25px;
  width: 100px;
  color: var(--blue);
  text-align: center;
  border-radius: 5px;
  border: var(--blue) solid 1px;
  background-color: white;
  margin: auto 0;
  cursor: pointer;
  text-decoration: none;
}

.searchBar {
  margin: 8px 45px;
  position: relative;
  top: 0;
  left: 0;
}

.searchInput {
  font-size: 17px;
  line-height: 32px;
  width: 650px;
  color: gray;
  padding-left: 40px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
  background-color: #f5f6f7;
  position: relative;
  top: 0;
  left: 0;
}

input:focus {
  outline: none;
}

.searchBar > i {
  font-size: 15px;
  color: rgb(185, 185, 185);
  position: absolute;
  top: 10px;
  left: 15px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 100px;
}

.content img {
  width: 235px;
  margin-right: 10px;
  cursor: pointer;
}

.username {
  color: gray;
  margin: 10px 0;
}

.price {
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.offer-details {
  display: flex;
}

.itemInfos {
  background-color: white;
  padding: 40px;
}

.details-titles {
  color: #999999;
  font-size: 12px;
}

.details-col-2 {
  margin-left: 50px;
  font-size: 12px;
}

.offer-details {
  padding-bottom: 50px;
  border-bottom: #999999 solid 1px;
}

.offer-line-2 {
  margin: 50px 0;
}

.acheter {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
}

.form > input,
.form > div {
  margin-bottom: 30px;
  line-height: 40px;
  font-size: 16px;
  border: none;
}

.form > input {
  border-bottom: pink solid 1px;
}

.form > button {
  margin: 0 auto;
  width: 100%;
}

.conditions-checkbox {
  font-size: 12px;
  color: gray;
  line-height: 15px;
  margin: 0;
}

.link {
  font-size: 10px;
  color: var(--blue);
  text-align: center;
  text-decoration: none;
  margin: 10px auto;
}

.welcomeMessage {
  display: block;
  text-align: center;
}

.filters {
  line-height: 50px;
  display: flex;
  justify-content: center;
}

.checkbox {
  margin-right: 25px;
}

.checkbox .wrap {
  background-color: #2cb1ba;
  border-radius: 10px;
  width: 42px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.checkbox .knob {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--blue);
  border-radius: 100%;
  position: relative;
  width: 20px;
  height: 20px;
  transition: left 0.1s ease-in-out 0s;
}

.left {
  left: 0;
}

.right {
  left: 22px;
}
