@media (max-width: 1190px) {
  .header .CTA-white {
    display: none;
  }

  .login-signup {
    font-size: 12px;
    line-height: 25px;
    width: 150px;
    color: var(--blue);
    text-align: center;
    border-radius: 5px;
    border: var(--blue) solid 1px;
    background-color: white;
    margin: auto 10px auto 0;
    cursor: pointer;
    text-decoration: none;
  }
}

@media (min-width: 1190px) {
  .login-signup {
    display: none;
  }
}

@media (max-width: 970px) {
  .login-signup {
    display: none;
  }
}

@media (max-width: 860px) {
  .header .CTA-blue-small {
    display: none;
  }
}
